<div class="container">
  <div class="row">
    <div class="col-sm-9 index-posts-column">
      <div class="new-blog-post-link pull-right">
        <%= link_to "New Blog Post", new_post_path %>
      </div>
      <div>
        <% @posts.each do |post| %>
          <div class="index-post-container">
            <p class="date-time"><%= post.created_at.strftime("%^B %-d, %Y") %></p>
            <p class="post-title"><%= link_to post.title, post %></p>
            <p><%= markdown(truncate( (post.body), length: 1000, escape: false )) %></p>
          </div>

        <% end %>
      </div>
    </div>
    <div class="col-sm-3 right-navigation">
      <%= render 'common/right_navigation' %>
    </div>
  </div>
</div>

<div class="container">
  <%= will_paginate @posts %>
</div>
