<!DOCTYPE html>
<html>
<head>
  <title>Harry Levine - Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div class="container">
    <div class="row title-header">
      <h1>Harry Levine's Blog</h1>
      <h4>Coding, Learning, and WYSIDOM</h4>
    </div>
    <div class="row navigation">
      <%= render 'common/navbar' %>
    </div>
  </div>

<%= yield %>

</body>
</html>
